
#visitor_graph {
    height: 253px !important;
}

#user_rating_graph {
    height: 280px !important;
}

#radar_chart, 
#pie_chart, 
#doughnut_chart, 
#polar_chart {
    height: 10.875rem;
}

#earnings_bar_chart {
    height: 340px !important;

    @include custommq($min: 1200px, $max: 1440px) {
        height: 264px !important;
    }
}