@import "../../abstracts/variable";

.sidebar-right {
    display: none;
    right: -15.625rem;
    position: fixed;
    top: 0;
    width: 15.625rem;
    background-color: $white;
    height: calc(100% - 7.0625rem);
    margin-top: 5rem;
    transition: all .5s ease-in-out;
    padding-bottom: 1.875rem;
    border: 1px solid $border;

    .slimScrollDiv {
        @at-root [direction="rtl"] #{&} {
            overflow: visible !important;
        }
    }

    .sidebar-right-trigger {
        position: absolute;
        z-index: 9;
        top: 3.75rem;
        right: 100%;
        background-color: $primary;
        color: $white;
        display: inline-block;
        height: 2.125rem;
        width: 2.125rem;
        text-align: center;
        line-height: 2.2rem;
        font-size: 1.3125rem;


        span {
            display: inline-block;
            // @extend %gradient-2;
            // @extend %text-gradient;            
        }
    }

    &.show {
        right: 0;
        z-index: 999;
    }

    .admin-settings {
        padding: 1.5625rem;
        
        &>div {
            margin-top: 0.9375rem;

            p {
                margin-bottom: 5px;
            }
        }
    }

    input[type="radio"] {
        display: none;

        + label {
            display: inline-block;
            width: 20px;    
            height: 20px;
            cursor: pointer;
            margin: 3px 8px;
            transition: all .1s ease;
        }

        &:checked {
            + label {
                position: relative;

                &::after {
                    height: 12px;
                    width: 12px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    content: "";
                    position: absolute;
                    background-color: $white;
                }
            }
        }
    }
}


#nav_header_bg, 
#header_bg, 
#sidebar_bg {
    &_1 {
        + label {
            background-color: $color_pallate_1;
            border: 1px solid $muted;
        }
    }

    &_2 {
        + label {
            background-color: $color_pallate_2;            
        }
    }

    &_3 {
        + label {
            background-color: $color_pallate_3;            
        }
    }

    &_4 {
        + label {
            background-color: $color_pallate_4;            
        }
    }

    &_5 {
        + label {
            background-color: $color_pallate_5;            
        }
    }

    &_6 {
        + label {
            background-color: $color_pallate_6;            
        }
    }

    &_7 {
        + label {
            background-color: $color_pallate_7;            
        }
    }

    &_8 {
        + label {
            background-color: $color_pallate_8;            
        }
    }

    &_9 {
        + label {
            background-color: $color_pallate_9;            
        }
    }

    &_10 {
        + label {
            background-color: $color_pallate_10;            
        }
    }

    &_11 {
        + label {
            background: $color_pallate_11;            
        }
    }
}












@keyframes bounce {
	0% {
        transform: translateX(-8%);;
        -webkit-transform: translateX(-8%);; 
        }
	50% {
        transform: translateX(8%);;
        -webkit-transform: translateX(8%);; 
        }
	100% {
        transform: translateX(-8%);; 
        -webkit-transform: translateX(-8%);; 
        }
}

@-webkit-keyframes bounce {
	0% {
        transform: translateX(-8%);;
        -webkit-transform: translateX(-8%);; 
        }
	50% {
        transform: translateX(8%);;
        -webkit-transform: translateX(8%);; 
        }
	100% {
        transform: translateY(-8%);; 
        -webkit-transform: translateY(-8%);; 
        }
}