@import "../../abstracts/_mixin";
@import "../../abstracts/_variable";

@include custommq($min: 768px) {

    [data-sidebar-style="mini"] {
        
        .nav-header {
            width: 3.75rem;
            .brand-logo {
                z-index: 999;
                a {
                    padding: 1.4rem 1.0625rem;

                    b {
                        img {
                            margin-top: 0.4375rem;
                        }
                    }
                }
            }
            .nav-control {
                z-index: -1;
                .hamburger{
                    left: 3.75rem!important;
                    .line{
                        background-color: $dark!important;;
                    }
                }
            }
            .brand-title {
                display: none;
            }
            .hamburger {
                display: none;
            }
        }

        .header-content {
            margin-left: 0;

            .header-left {
                margin-left: 0.625rem;
                border: 0;

                @at-root [direction="rtl"]#{&} {
                    margin-right: 0.625rem;
                    margin-left: auto;
                }

                .drop-down {
                    top: 0.3125rem;
                }
            }
        }

        .nav-user {
            padding: 1.25rem 0.9375rem 0.9375rem;
            img {
                width: 2.1875rem;
                height: 2.1875rem;
                margin-bottom: 0.625rem;
            }
            h5,
            p {
                display: none;
            }
            i {
                margin-top: 0.9375rem;
                display: block
            }
            .dropdown-menu {
                left: 2.8125rem !important;
                top: 1.375rem !important;
            }
        }
        
        .nk-sidebar {
            width: 3.75rem;
            overflow: visible;
            position: absolute;

            .nav-text {
                display: none;
            }

            .slimScrollDiv,
            .nk-nav-scroll {
                overflow: visible !important;
            }
            .metismenu {
                li {
                    position: relative;

                    a {
                        padding: 0.8125rem 0.9375rem;
                    }
                    &>ul {
                        position: absolute;
                        left: 3.75rem;
                        top: 2.8438rem;
                        width: 11.875rem;
                        z-index: 1001;
                        display: none;
                        padding-left: 1px;

                        @at-root [direction="rtl"]:not([data-layout="horizontal"])#{&} {
                            left: auto;
                            right: 3.75rem;
                        }
                    }
                }
                &>li {

                    &>a {
                        
                        &.has-arrow {
                            &:after {
                                display: none;
                            }
                        }
                    }

                    a {
                        // text-align: center;
                        &>i {
                            margin-right: 0;
                        }
                    }
                }
                .nav-label,
                .nav-badge {
                    display: none;
                }
            }
        }

        .content-body {
            margin-left: 3.75rem;
        }

        .footer {
            padding-left: 3.75rem;
        }


    }

    [data-sidebar-style="mini"][data-layout="vertical"] {
        .nk-sidebar {
            .metismenu {

                &>li {

                    &:nth-last-child(-n + 3) {
                        &>ul {
                            bottom: 2.8438rem;
                            top: auto;
                        }
                    }

                    @include respond(tab-land) {
                        &:nth-last-child(-n + 6) {
                            &>ul {
                                bottom: 2.8438rem;
                                top: auto;
                            }
                        }
                    }

                    &>ul {
                        overflow: visible;

                        li:hover {
                            ul {
                                display: block;
                                left: 11.8125rem;
                                top: 0;

                                @at-root [direction="rtl"]#{&} {
                                    right: 11.8125rem;
                                    left: auto;
                                }
                            }
                        }
                    }

                    &:hover {


                        &>a {
                            width: 15.625rem;
                            background: $white;

                            @at-root [data-theme-version="dark"]#{&} {
                                background-color: $dark-card;
                            }

                            .nav-text {
                                display: inline-block;
                                padding-left: 1.6875rem;

                                @at-root [direction="rtl"]#{&} {
                                    padding-left: auto;
                                    padding-right: 1.6875rem;
                                }
                            }
                        }
                        &>ul {
                            display: block;
                            height: auto !important;
                            overflow: visible;
                            a {
                                padding: 0.625rem 0.9375rem 0.625rem 0.9375rem;
                                margin-left: -1.6px;
                            }
                            ul a {
                                padding: 0.625rem 0.9375rem 0.625rem 3rem;
                                margin-left: -1.6px;
                            }
                        }
                    }

                    &.mega-menu {

                        &> ul.collapse:not(.in) {
                            height: 252px !important;
                        }

                        &:hover {
                            &>a {
                                width: calc(70vw + 3.75rem);
                            }
                            &>ul {
                                display: flex;
                                flex-wrap: wrap;
                                flex-direction: column;
                                max-height: 13.75rem;
                                width: 70vw;

                                ul a {
                                    width: 101%;
                                }
                            }
                        }

                        &-xl {
                            &:hover {
                                &>a {
                                    width: calc(70vw + 3.75rem);
                                }
                                &>ul {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: column;
                                    max-height: 21.875rem;
                                    width: 70vw;
    
                                    ul a {
                                        width: 101%;
                                    }
                                }
                            }
                        }

                        &-lg {

                            &:hover {
                                &>a {
                                    width: calc(80vw + 3.75rem);
                                }

                                &>ul {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: column;
                                    max-height: 18.125rem;
                                    width: 80vw;
    
                                    ul a {
                                        width: 101%;
                                    }
                                }
                            }
                        }

                        &-md {
                            &:hover {
                                &>a {
                                    width: calc(45vw + 3.75rem);
                                }
                                &>ul {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: column;
                                    max-height: 18.75rem;
                                    width: 45vw;
    
                                    ul a {
                                        width: 101%;
                                    }
                                }
                            }
                        }

                        &-sm {
                            &:hover {
                                &>a {
                                    width: calc(29vw + 3.75rem);
                                }
                                &>ul {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: column;
                                    max-height: 18.125rem;
                                    width: 29vw;
    
                                    ul a {
                                        width: 101%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    [data-sidebar-style="mini"][data-layout="vertical"][data-container="boxed"] {
        .nk-sidebar {
            .metismenu {

                &>li {

                    &.mega-menu {

                        &:hover {
                            &>a {
                                width: calc(60vw + 3.75rem);
                            }
                            &>ul {
                                display: flex;
                                flex-wrap: wrap;
                                flex-direction: column;
                                max-height: 25rem;
                                width: 60vw;

                                ul a {
                                    width: 101%;
                                }
                            }
                        }

                        &-xl {
                            &:hover {
                                &>a {
                                    width: calc(60vw + 3.75rem);
                                }
                                &>ul {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: column;
                                    max-height: 25.625rem;
                                    width: 60vw;
    
                                    ul a {
                                        width: 101%;
                                    }
                                }
                            }
                        }

                        &-lg {

                            &:hover {
                                &>a {
                                    width: calc(50vw + 3.75rem);
                                }

                                &>ul {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: column;
                                    max-height: 16.25rem;
                                    width: 50vw;
    
                                    ul a {
                                        width: 101%;
                                    }
                                }
                            }
                        }

                        &-md {
                            &:hover {
                                &>a {
                                    width: calc(40vw + 3.75rem);
                                }
                                &>ul {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: column;
                                    max-height: 18.75rem;
                                    width: 40vw;
    
                                    ul a {
                                        width: 101%;
                                    }
                                }
                            }
                        }

                        &-sm {
                            &:hover {
                                &>a {
                                    width: calc(22vw + 3.75rem);
                                }
                                &>ul {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: column;
                                    max-height: 18.125rem;
                                    width: 22vw;
    
                                    ul a {
                                        width: 101%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    [data-sidebar-style="mini"][data-header-position="fixed"][data-container="boxed"][data-layout="vertical"] {
        .header {
            width: 1199px;
        }
    }

}