
[data-theme-version="dark"] {

    .list-group-item {
        background-color: $d-bg;
        color: $d-ctl;
    }

    .live-price{
        .list-group-item {
            background-color: transparent;
        }
    }
}

