//customize bootstrap
@import './bs-custom';


$light: #aaa;
$border: rgba(0,0,0,0.15);
$inverse: #2F3D4A;
$ceriseRed: #F54372;
$light-2: #F9FAFC;
$scooter: #36B9D8; 
$carnation: #F6514C;
$apple: #449036;
$cardinal: #CE2B23;
$royal-blue:#3375E1;
$primary-dark: #880000;
$primary-light: #fa5050;




///////////////
// Solid Color
///////////////
$white: #fff;
$black: #000;
$charade: #23252F;

/////////////////////////
// Dark Version Color
/////////////////////////
$d-ctd: #ddd;
$d-ctl: #8790a6;
$d-border: #222840;
$d-bg: #222840;
$dark-card: #131633;
$dark-heading: $d-ctd;

////////////////////////
// Light Version Color
////////////////////////
$l-ctd: #3E3F42;
$l-ctl: #abafb3;
$l-border: rgba(120, 130, 140, 0.13);
$l-bg: #FBFBFD;
$heading: #333;

/////////////
// Social
/////////////
$facebook: #3b5998;
$twitter: #1da1f2;
$youtube: #FF0000;
$google-plus: #db4439;
$iron: #DDDFE1;
$linkedin: #007bb6;
$instagram: #c32aa3;
$pinterest: #bd081c;
$google: #4285f4;
$snapchat: #fffc00;
$whatsapp: #25d366;
$tumblr: #35465d;
$reddit: #ff4500;
$spotify: #1ed760;
$yahoo: #430297;
$dribbble: #ea4c89;
$skype: #00aff0;
$quora: #aa2200;
$riverBed: #4C585C;
$vimeo: #1ab7ea;

///////////////////
// Material Color
///////////////////
$athensGray: #F0F0F2;
$alabaster: #FBFBFB;
$buttercup: #f19d14;
$buddha-gold: #a39e06;
$candlelight: #fad00b;
$chelesa-cucumber: #6dae4e;
$blue-dark: #4501eb;
$dodger-blue: #2277ef;
$big-stone: #152037;
$emerlad: #3ccf48;
$red: #ff0000;
$purple: #7C277D;
$pink: #e91e63;
$deep-pink: #fe60ad;
$deep-purple: #664CE1;
$dusty-gray: #999999;
$flamingo: #f15520;
$fuchsia-blue: #835dc4;
$indigo: #3f51b5;
$monza: #de0903;
$corn: #deb805;
$cosmos: #ffdcdc;
$cadet-blue: #adb6c7;
$electric-violet: #6102dd;
$light-blue: #5C97E6;
$malachite: #24cf48;
$pale-sky: #6a707e;
$pelorous: #3aa6b4;
$purple-pizzazz: #dd04cc;
$picton-blue: #44daf4;
$cyan: #00bcd4;
$cinnabar: #e45444;
$curious-blue: #3885d8;
$teal: #39CCCC;
$turquoise: #46eead;
$violetRed: #f13c79;
$valencia: #d53845;
$green: #26DA87;
$gallery: #EEEEEE;
$gray: #898989;
$gossip: #d0fabb;
$kimberly: #73629B;
$light-green: #43e794;
$hawkes-blue: #d2ebfc;
$lime: #cddc39;
$yellow: #FFB22B;
$amber: #ffc107;
$orange: #F7941D;
$razzmatazz: #f31e7a;
$deep-orange: #D08021;
$maroon: #8C1919;
$emperor: #555555;
$mirage: #121929;
$grey: #D2D6DE;
$navy: #102D4B;
$blue-grey: #607d8b;
$brown: #795548;
$cloud: #AAE8FF;
$sunshine: #FFBE26;
$seance: #752da1;
$sky: #2290FF;
$scooter: #36b8d7;
$shark: #24282d;
$sun: #f7ab10;
$silver: #cccccc;
$woodsmoke: #171820;


// .card-columns {
//     @include media-breakpoint-only(lg) {
//       column-count: 2;
//     }
//     @include media-breakpoint-only(xl) {
//       column-count: 2;
//     }
//   }



//color for coller pallate


$color_pallate_1: #fff;
$color_pallate_2: #30323F;
$color_pallate_3: #6a1b9a;
$color_pallate_4: #4527a0;
$color_pallate_5: #c62828;
$color_pallate_6: #283593;
$color_pallate_7: $primary;
$color_pallate_8: #0277bd;
$color_pallate_9: #00838f;
$color_pallate_10: #558b2f;
$color_pallate_11: linear-gradient(135deg,#8f75da 0,#727cf5 60%);




