
// #accordion-one, 
#accordion-one, .default-accordion-style {
    .fa{
        float: right;
    }

    [data-toggle="collapse"] .fa:before {  
        content: "\f077";
    }
      
    [data-toggle="collapse"].collapsed .fa:before {
    content: "\f078";
    }

    .card{
        box-shadow: none !important;
        border-radius: 0px;
        border: 0px;
        margin-bottom: 10px;

        .card-header{
            padding: 0;
            border: 1px solid #EEEEEE;

            h5{
                font-size: 0.875rem;
                color: $dark;
                line-height: 1.3;
                padding: .6rem 1.6rem;
                border-radius: 2px;

                @include media-breakpoint-up(sm) {
                    padding: .7rem 1.6rem;
                }

                i{
                    // line-height: 35px;
                    color: $dark;
                    margin-left: .8rem;
                    // -webkit-text-stroke: 1px white !important;
                }
            }
        }

        &-body{

            @include media-breakpoint-up(sm) {
                padding: 1.1875rem 1.5625rem;
            }

            p{
                margin-bottom: 0;
            }

            p:not(:last-child){
                margin-bottom: 2.5rem;
            }

            p:first-child{
                margin-top: 0;
            }
        }
    }

    .card-header h5[aria-expanded=true]{
        color: $white;
        background: $primary;

        i,span{
            color: $white;
        }
        
    }
}


// #accordion-two, 
#accordion-two, #accordion-faq, .default-accordion-style {
    .fa{
        float: right;
    }

    [data-toggle="collapse"] .fa:before {  
        content: "\f077";
    }
      
    [data-toggle="collapse"].collapsed .fa:before {
    content: "\f078";
    }

    .card{
        box-shadow: none !important;
        border-radius: 0px;
        border: 0px;
        margin-bottom: 10px;

        .card-header{
            padding: 0;

            h5{
                font-size: 0.875rem;
                color: $dark;
                line-height: 1.3;
                padding: .6rem 1.6rem;
                border-radius: 2px;

                @include media-breakpoint-up(sm) {
                    padding: .7rem 1.6rem;
                }

                i,span{
                    // line-height: 35px;
                    color: $dark;
                    margin-left: .8rem;
                    // -webkit-text-stroke: 1px white !important;
                }
            }
        }

        &-body{
            @include media-breakpoint-up(sm) {
                padding: 1.1875rem 1.5625rem;
            }

            p{
                margin-bottom: 0;
            }

            p:not(:last-child){
                margin-bottom: 2.5rem;
            }

            p:first-child{
                margin-top: 0;
            }
        }
    }

    .card-header h5[aria-expanded=true]{
        color: $primary;
        border-color: $primary;

        i,span{
            color: $primary;
        }
        
    }
}





.accordion {
    .card {
        .card-header {
            h5 {
                border: 1px solid #EEEEEE;
            }
        }
    }
}



  