

.page-titles {
    padding: 0.9375rem 1.875rem;
    // background: $white;
    margin-top: 0.625rem;

    @include respond('phone-land') {
        margin-left: -15px;
        margin-right: -15px;
        padding: 15px 0;
    }

    h4 {
        margin-bottom: 0;
        margin-top: 0;
        color: $primary;
        font-size: 1.25rem;
        span {
            font-size: 0.875rem;
            font-weight: 400;
        }
    }
    .breadcrumb {
        margin-bottom: 0;
        padding: 0;
        background: transparent;
        // font-size: 0.875rem;
        li {
            margin-top: 0;
            margin-bottom: 0;

            a{
               color: #555555; 

            }

            &.active{
                color: #555555;
            }
        }
        
        .breadcrumb-item + .breadcrumb-item {
            &:before {
                content: "\e606";
                font-family: 'simple-line-icons';
                // font-weight: 4;
                font-size: 10px;
            }
        }

        &-datepicker{
            font-size: 0.75rem;
            color: $muted;

            &__icon{
                font-size: 0.875rem;
            }
        }
    }
}