.Modal--small .Modal-dialog {
    width: 400px;
}
.Modal-dialog {
    max-height: 90%;
    max-width: 90%;
    position: relative;
    width: 600px;
    z-index: 1091;
}
.ModalLoginSignup-inner.ModalLoginSignup--asPage {
     padding-bottom: 4px;
     position: relative;
 }
.Modal-inner {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-flex-pack: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding-left: 8px;
    padding-right: 8px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1091;
}
.ModalLoginSignup-inner {
    padding-top: 24px;
}
.ModalLoginSignup-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 0;
}
.Card {
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
    border-radius: 3px;
    background: #fff;
}
.Modal-header {
    margin: 0 32px;
    padding-top: 32px;
}
.ModalLoginSignup-header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.Modal-body {
    padding: 24px 32px;
}
.ModalLoginSignup-body-heading {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: center;
}
.Modal-body .hr-divider {
    margin: 25px 0;
}
.Modal-body .hr-divider {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
.Modal-body .hr-divider-text {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin-bottom: -10px;
    padding: 0 10px;
    background: #fff;
    font-weight: 700;
    color: #aaa;
}
.large-form {
    font-size: 16px;
}
.fl-form fieldset {
    position: relative;
    margin: 0 0 50px;
}
fieldset {
    padding: 0;
    border-color: transparent;
}
fieldset {
    border: none;
    margin: 0 2px;
    padding: .35em .625em .75em;
}
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}
.fl-form fieldset>ol {
    list-style: none;
}
.fl-form ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.large-form .form-step {
    padding-bottom: 20px;
}
.fl-form .form-step {
    position: relative;
    margin-bottom: 0!important;
    padding-bottom: 20px;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.Modal-body .login-form-options {
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.43;
    margin: 10px 0 0;
    overflow: hidden;
}
.fl-form .checkbox {
    font-weight: 400;
}
.fl-form label {
    display: block;
    margin-bottom: 10px;
    line-height: 1;
    font-weight: 700;
}
.Checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}.large-form [type=checkbox], .large-form [type=radio] {
     margin-top: 2px;
 }
.fl-form [type=checkbox], .fl-form [type=radio] {
    margin-top: 1px;
    margin-right: 10px;
    vertical-align: top;
}
.Checkbox-input {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

input, textarea {
    -webkit-font-smoothing: antialiased;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font: inherit;
    margin: 0;
}

.pinky-template .large-input {
    font-size: 16px;
    height: 46px;
    padding: 0 16px;
}
.pinky-template .default-input, .pinky-template .default-textarea, .pinky-template .large-input, .pinky-template .large-textarea, .pinky-template .small-input, .pinky-template .small-textarea, .pinky-template .xlarge-input, .pinky-template .xxlarge-input {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.43;
    background: #fff;
    border: 1px solid #BEC0C2;
    border-radius: 3px;
    box-shadow: 0 0 0 1px transparent;
    color: #1f2836;
    display: inline-block;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    width: 100%;
}
.large-form [type=text], .large-form [type=password], .large-form [type=email], .large-form [type=number] {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.43;
    background: #fff;
    border: 1px solid #BEC0C2;
    border-radius: 3px;
    box-shadow: 0 0 0 1px transparent;
    color: #1f2836;
    display: inline-block;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    width: 100%;
    font-size: 16px;
    height: 46px;
    padding: 0 16px;
}
input, textarea {
    -webkit-font-smoothing: antialiased;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font: inherit;
    margin: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {
    background-color: rgb(250, 255, 189) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}
input {
    padding: 1px 0px;
}
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}
input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb !important;
}
.Modal-body .login-form-forgot {
    float: right;
}
a {
     text-decoration: none;
     color: #0087e0;
     cursor: pointer;
     -webkit-transition: color .1s ease-out;
     transition: color .1s ease-out;
 }
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.Checkbox-label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  padding-left: 24px;
  position: relative;
}
.Checkbox-input {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.is-accessibly-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.ModalLoginSignup-switchLoginSignupType {
    border-top: 1px solid #dedede;
    color: #4d525b;
    display: block;
    padding-top: 16px;
    text-align: center;
}
.ModalLoginSignup-facebookLinkForm-submitBtn, .ModalLoginSignup-loginForm-submitBtn, .ModalLoginSignup-privacyConsentForm-submitBtn, .ModalLoginSignup-resetPassword-submitBtn {
    width: 100%;
}
.btn-info {
    background: -webkit-linear-gradient(top,#139ff0 0,#0087e0 100%);
    background: linear-gradient(to bottom,#139ff0 0,#0087e0 100%);
    border: 1px solid #0087e0;
    color: #F7F7F7;
    font-weight: 700;
    text-shadow: 0 -1px transparent;
}
.btn-large {
    padding: 13px 22px;
    font-size: 20px;
    font-size: 1.25rem;
    border-radius: 3px;
    font-weight: 700;
}
.btn {
    background: -webkit-linear-gradient(top,#fff 0,#F0F0F0 100%);
    background: linear-gradient(to bottom,#fff 0,#F0F0F0 100%);
    border: 1px solid #BEC0C2;
    color: #4D525B;
    font-weight: 700;
    text-shadow: 0 -1px transparent;
    padding: 8px 18px;
    font-size: 14px;
    font-size: .875rem;
    background-clip: border-box;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    line-height: 18px;
    text-align: center;
}
.thumbnail {
     display: block;
     padding: 4px;
     margin-bottom: 20px;
     line-height: 1.42857143;
     background-color: #fff;
     border: 1px solid #ddd;
     border-radius: 4px;
     -webkit-transition: border .2s ease-in-out;
     -o-transition: border .2s ease-in-out;
     transition: border .2s ease-in-out;
 }
